<div class="home-banner">
    <div class="flex-wrap">
        <div class="flex-grow-2">

            <h1 class="px-3">
                <a href="" class="typewrite text-white" style="text-decoration: none;" data-period="2000"
                    data-type='[ "Hi, I am Santosh","Welcome to my Portofolio", "I Love to Develop web apps", "Worked in Javascript and Java ", "I am Creative", "I also Love Design", "Scroll down to see more details" ]'>
                    <span class="wrap"></span>
                </a>
            </h1>


            <!-- Qualities -->
            <h4 class="text-white px-3 m-0">My abilities</h4>
            <div class="flex-wrap">
                <div class="flex-grow-2">
                    <div class="card p-3 text-center">
                        <h3 class="text-primary">Positive</h3>
                        <div class="v-center">
                            <img class="my-quality" src="assets/img/positive-thinking.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="flex-grow-2">
                    <div class="card p-3 text-center">
                        <h3 class="text-primary">Team Player</h3>
                        <div class="v-center">
                            <img class="my-quality" src="assets/img/team.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-wrap">
                <div class="flex-grow-2">
                    <div class="card p-3 text-center">
                        <h3 class="text-primary">Fast Learner</h3>
                        <div class="v-center">
                            <img class="my-quality" src="assets/img/brain.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="flex-grow-2">
                    <div class="card p-3 text-center">
                        <h3 class="text-primary">Communicator</h3>
                        <div class="v-center">
                            <img class="my-quality" src="assets/img/communication.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Qualities end -->

        </div>
        <div class="flex-grow-2 image-banner pb-0">
            <img class="my-banner" src="assets/img/banner-1.png" alt="">
        </div>
    </div>
    <div class="social p-6 pt-0" style="margin-top: -7px ;">
        <div class="card">
            <div class="row">
                <div class="column-2 text-center">
                   <h1 class="text-primary m-0" style="position: relative;top: 50%;
                   -webkit-transform: translateY(-50%);
                   -ms-transform: translateY(-50%);
                   transform: translateY(-50%);">Connect with me :</h1>
                </div>
                <div class="column-2">
                    <!-- Social Network-->
                    <div class="flex-wrap">
                        <div class="flex-grow-4">
                            <div class="text-center">
                                <a href="#">
                                    <img title="Github" class="social-box circle-image" width="60"
                                        src="assets/img/github.svg" alt="Github">
                                </a>
                                <p class="text-primary m-0">Github</p>
                            </div>
                        </div>
                        <div class="flex-grow-4">
                            <div class="text-center">
                                <a href="www.google.com">
                                    <img title="Linkedin" class="social-box circle-image" width="60"
                                        src="assets/img/linkedin-logo.svg" alt="Linkedin">
                                        
                                </a>
                                <p class="text-primary m-0">Linkedin</p>
                            </div>
                        </div>
                        <div class="flex-grow-4">
                            <div class="text-center">
                                <a href="#">
                                    <img title="Gmail" class="social-box circle-image" width="60"
                                        src="assets/img/gmail.svg" alt="Gmail">
                                </a>
                                <p class="text-primary m-0">Gmail</p>
                            </div>
                        </div>
                        <div class="flex-grow-4">
                            <div class="text-center">
                                <a href="#">
                                    <img title="Wordpress" class="social-box circle-image" width="60"
                                        src="assets/img/wordpress-round-logo.svg" alt="Wordpress">
                                </a>
                                <p class="text-primary m-0">Wordpress</p>
                            </div>
                        </div>
                    </div>

                    <!-- Social Network Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
