html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin: 5px;
}

body::-webkit-scrollbar-thumb {
    border: 2px solid white;
    background-color: #0BB1E5;
    border-radius: 7px;
    margin: 3px !important;
}

/* Loading  */
.loading{
    height: 50px;
}