@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* Font-color */
.text-primary {
    color: #0BB1E5;
}

.text-secondary {
    color: #e2e2e2;
}

.text-white {
    color: #ffffff;
}

.text-dark{
    color: #000000;
}

/* Font Weight */
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* Typography */
.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}