<div class="flex-wrap pt-0 p-6" id="experience">
    <div class="card w-100 p-3">
        <h3 class="card-title m-0">Work Experience <span> <img class="loading"
                    src="assets/img/Ripple-1s-200px.gif" alt=""> </span></h3>

        <div class="p-2">
            <h3>Walkterbeaconlab, Bengaluru - Software Development Engineer (07/2019 - Present)</h3>
            <ul class="timeliner text-dark">
                <li>
                    <h4>Creation of live exam web application using Spring Boot, Thymeleaf, MySQL, JPA
                        (07/2020 - Present)</h4>
                    <ol>
                        <li>
                            <h5>sds</h5>
                        </li>
                        <li>
                            sds
                        </li>
                        <li>
                            sd
                        </li>
                    </ol>
                </li>
                <li>two</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>