/* cards */
.card {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000029;
    height: fit-content;
}

.card-title{
    font-size: 25px;
    font-weight: 600;
}
