// * This file contain all the theming variables
$primary : #0BB1E5;
$primary-filter : invert(51%) sepia(95%) saturate(1010%) hue-rotate(155deg) brightness(94%) contrast(92%);
// $secondary : 
$background-colour : #fff;
$text-colour : #000;
$box-shadow : 2px 2px 5px 3px rgba(0, 0, 0, 0.1);