<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Portofolio</title>
</head>

<body>
    <div class="flex-container">

        <!-- Sidenav -->
        <div class="side-nav">
            <div class="expand-side-nav">
                <div class="side-nav-expand">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
            </div>

            <ul class="side-nav-menu">
                <li>
                    <div class="side-nav-icon">
                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;
                        <span class="nav-item-name">About Me</span>
                    </div>
                </li>
                <li>
                    <a href="#experience" class="text-primary" style="text-decoration: none;">
                        <div class="side-nav-icon">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            <span class="nav-item-name">Work Experience</span>
                        </div>

                    </a>
                </li>
                <li>
                    <div class="side-nav-icon">
                        <ion-icon name="school-outline"></ion-icon>&nbsp;
                        <span class="nav-item-name">Education</span>
                    </div>
                </li>

                <li>
                    <div class="side-nav-icon">
                        <ion-icon name="trophy-outline"></ion-icon>
                        <span class="nav-item-name">Achievements</span>
                    </div>
                </li>
                <li>
                    <div class="side-nav-icon">
                        <ion-icon name="newspaper-outline"></ion-icon> <span class="nav-item-name">Blog</span>
                    </div>
                </li>
                <li>
                    <div class="side-nav-icon">
                        <ion-icon name="home-outline"></ion-icon>
                        <span class="nav-item-name">Home</span>
                    </div>
                </li>
            </ul>

        </div>
        <!-- SideNav end -->

        <!-- Main Content -->
        <div class="main-content">
            <div class="home-banner">
                <div class="flex-wrap">
                    <div class="flex-grow-2">
                        <!-- <h1 class="text-white fw-500 p-3 mb-0">Hi, I am Santosh <br> Welcome to My Portofolio</h1> -->

                        <h1 class="px-3">
                            <a href="" class="typewrite text-white" style="text-decoration: none;" data-period="2000"
                                data-type='[ "Hi, I am Santosh","Welcome to my Portofolio", "I Love to Develop web apps", "Worked in Javascript and Java ", "I am Creative", "I also Love Design", "Scroll down to see more details" ]'>
                                <span class="wrap"></span>
                            </a>
                        </h1>


                        <!-- Qualities -->
                        <h4 class="text-white px-3 m-0">My abilities</h4>
                        <div class="flex-wrap">
                            <div class="flex-grow-2">
                                <div class="card p-3 text-center">
                                    <h3 class="text-primary">Positive</h3>
                                    <div class="v-center">
                                        <img class="my-quality" src="assets/img/positive-thinking.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-2">
                                <div class="card p-3 text-center">
                                    <h3 class="text-primary">Team Player</h3>
                                    <div class="v-center">
                                        <img class="my-quality" src="assets/img/team.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-wrap">
                            <div class="flex-grow-2">
                                <div class="card p-3 text-center">
                                    <h3 class="text-primary">Fast Learner</h3>
                                    <div class="v-center">
                                        <img class="my-quality" src="assets/img/brain.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-2">
                                <div class="card p-3 text-center">
                                    <h3 class="text-primary">Communicator</h3>
                                    <div class="v-center">
                                        <img class="my-quality" src="assets/img/communication.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Qualities end -->
                    </div>
                    <div class="flex-grow-2 image-banner">
                        <img class="my-banner" src="assets/img/banner-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="flex-wrap experience" id="about">
                <div class="card w-100 p-5">
                    <h3 class="card-title m-0">About Me <span> <img class="loading" src="assets/img/Ripple-1s-200px.gif"
                                alt=""> </span></h3>
                    <p class="text-dark text-justify">
                        My full name is <b>Santosh Kumar Sahoo</b>. I was born in 26/01/1998. I live in Puri,Odisha and
                        work in Bengaluru as a Software Developer/Web Developer. I’ve
                        been a professional developer for 1.5 year.
                        I’ve mostly worked professionally with JavaScript, Java, PHP and their frameworks
                        Angular,SpringBoot,Laravel.
                    </p>
                    <p class="text-dark text-justify">
                        Passionate about Java/PHP/JavaScript frontend and backend development, Database management and
                        Cloud deployment. Looking forward to work in projects where I can leverage my knowledge and
                        skill to solve real life business problems.
                    </p>
                    <audio controls>
                        <source src="assets/audio/myporto.mp3" type="audio/wav">
                    </audio>
                </div>

            </div>
            <div class="flex-wrap experience" id="experience">
                <div class="card w-100 p-3">
                    <h3 class="card-title m-0">Work Experience <span> <img class="loading"
                                src="assets/img/Ripple-1s-200px.gif" alt=""> </span></h3>

                    <div class="p-2">
                        <h3>Walkterbeaconlab, Bengaluru - Software Development Engineer</h3>
                        <ul class="timeliner text-dark">
                            <li>
                                <h4>Creation of live exam web application using Spring Boot, Thymeleaf, MySQL, JPA (07/2020 - Present)</h4>
                                <ol>
                                    <li>
                                        <h5>sds</h5>
                                    </li>
                                    <li>
                                        sds
                                    </li>
                                    <li>
                                        sd
                                    </li>
                                </ol>
                            </li>
                            <li>two</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content end -->

    </div>
    
</body>

</html>